<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
</head>
<body>
    {% block content %}
    <!-- <video  controls width="320" height="240">           
        <source src="/media/Videos/IMG_8235.MP4" type="video/mp4">     
        This browser doesn't support video tag.
    </video> -->
    
    {% for obj in objects %}
        <video width="320" height="240" controls>           
            <source src="{{obj.video_url.url}}" type="video/mp4">
            This browser doesn't support video tag.           
        </video>
    {% endfor %} 
    {% endblock content %}
         
</body>
</html>